Package: piidcard
Version: 1.0-6
Section: base
Priority: optional
Architecture: all
Depends: i2c-tools, python3, python3-pip, python3-pil, fonts-arkpandora
Maintainer: Jens Gabrikowski <jens@gabrikowski.de>
Description: PiIdCard
 Package to install and run PiIdCard on a Raspberry Pi.
 It will show some system information on an i2c oled display.
